/Save The Nord
/Save The Nord.rar
/Project/Unity/Save The Nord/Library
/Project/Unity/Save The Nord/.idea
/Project/Unity/Save The Nord/Logs
/Project/Unity/Save The Nord/obj
/Project/Unity/Save The Nord/Temp
/Project/Unity/Save The Nord/UserSettings
/Project/Unity/Save The Nord/Assembly-CSharp.csproj
/Project/Unity/Save The Nord/Assembly-CSharp-Editor.csproj
/Project/Unity/Save The Nord/Save The Nord.sln
/Project/Unity/Save The Nord/.vsconfig
/Project/Unity/Save The Nord/.vs
/Project/Unity/Save The Nord/Assets/EditorThemes
/Project/Unity/Save The Nord/Assets/EditorThemes.meta
