/Builds
/SaveTheNord/Library
/SaveTheNord/.idea
/SaveTheNord/Logs
/SaveTheNord/obj
/SaveTheNord/Temp
/SaveTheNord/UserSettings
/SaveTheNord/Assembly-CSharp.csproj
/SaveTheNord/Assembly-CSharp-Editor.csproj
/SaveTheNord/SaveTheNord.sln
/SaveTheNord/.vsconfig
/SaveTheNord/.vs
